<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Kit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="title-main">{{ subject.name }}</div>
    <div class="description">{{ subject.description }}</div>
    <div class="buttons">
        <a href="{{ meeting.reference }}" class="btn">Приєднатися</a>
        <a href="{% url 'main' %}" class="btn">Назад</a>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
