<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create meeting</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles_for_alerts.css' %}?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <canvas id="canvas"></canvas>

    <!-- Кнопка-іконка для повернення на головну сторінку -->
    <a href="{% url 'main' %}" class="main-icon">
        <i class="fas fa-arrow-left"></i>
    </a>

    <h1 class="title" style="top: 10%">EDUCATION KIT</h1>

    <!-- Форма для створення конференції -->
    <div class="create-form-container">
        <h2 class="form-title">Створити конференцію з предмету - {{ subject.name }}</h2>

        <!-- Форма для створення конференції -->
        <form method="post">
            {% csrf_token %}

            <!-- Поле вводу для назви конференції -->
            <input type="text" name="meeting_name" class="create-input-field" placeholder="Назва конференції" required>

            <!-- Поле вибору класу -->
            <select name="class_id" class="create-input-field" required>
                <option value="" disabled selected>Оберіть клас</option>
                {% for class_obj in classes %}
                    <option value="{{ class_obj.id }}">{{ class_obj.name }}</option>
                {% endfor %}
            </select>

            <!-- Кнопка створення конференції -->
            <button class="btn-submit" type="submit">Створити</button>
        </form>
    </div>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>
