<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Kit</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="title-main">EDUCATION KIT</div>
    <div class="buttons">
        <a href="login.html" class="btn">Вхід</a>
        <a href="register.html" class="btn">Реєстрація</a>
    </div>
    <script src="script.js"></script>
</body>
</html>
