<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Kit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <canvas id="canvas"></canvas>
    <div class="title-main">EDUCATION KIT</div>
    <div class="buttons">
        <a href="{% url 'login' %}" class="btn">Вхід</a>
        <a href="{% url 'register' %}" class="btn">Реєстрація</a>
    </div>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>
