<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Kit</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <canvas id="canvas"></canvas>

    <!-- Кнопка-іконка для повернення на головну сторінку -->
    <a href="index.html" class="home-icon">
        <i class="fas fa-home"></i>
    </a>
    
    <div class="content">
        <h1 class="title">EDUCATION KIT</h1>
        
        <!-- Крок 1: Поля для вводу прізвища, імені, по батькові, вибір класу -->
        <div class="form-container-sign" id="step1">
            <input type="text" id="lastName" placeholder="Прізвище" class="input-field">
            <input type="text" id="firstName" placeholder="Ім'я" class="input-field">
            <input type="text" id="fatherName" placeholder="По батькові" class="input-field">
            
            <!-- Випадаючий список для вибору класу -->
            <select id="classSelect" class="input-field">
                <option value="" disabled selected>Оберіть клас</option>
            </select>

            <!-- Кнопка для переходу до кроку 2 -->
            <a href="#" class="btn-submit" id="nextStepBtn">Далі</a>
        </div>

        <!-- Крок 2: Поля для вводу логіну та паролю -->
        <div class="form-container-sign" id="step2" style="display: none;">
            <!-- Іконка стрілки для повернення -->
            <a href="#" id="prevStepBtn" class="back-icon">
                <i class="fas fa-arrow-left"></i>
            </a>
            <input type="text" id="login" placeholder="Логін" class="input-field">
            <input type="password" id="password" placeholder="Пароль" class="input-field">
            <input type="password" id="repeatPassword" placeholder="Повторіть пароль" class="input-field">

            <!-- Кнопка для входу -->
            <a href="index.html" class="btn-submit">Увійти</a>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>
