<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education Kit</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles_for_alerts.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <style>
        /* Стилі для спливаючого вікна */
        .popup {
            display: none;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.85);
            justify-content: center;
            align-items: center;
            z-index: 1000;
        }
        .popup-content {
            padding: 30px;
            border-radius: 8px;
            text-align: center;
            width: 80%;
            max-width: 700px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .popup-content h2 {
            margin-top: 0;
            font-size: 3rem;
            color: rgb(226, 226, 226);
        }
        .popup-content p {
            color: rgb(226, 226, 226);
            font-size: 2rem;
        }

        /* Style for alert container */
        #liveAlertPlaceholder {
            position: fixed;
            top: 10px;
            z-index: 1000;
        }
    </style>
</head>
<body>
    <canvas id="canvas"></canvas>

    <!-- Кнопка-іконка для повернення на головну сторінку -->
    <a href="{% url 'home' %}" class="home-icon">
        <i class="fas fa-home"></i>
    </a>

    <!-- Місце для сповіщення -->
    <span id="liveAlertPlaceholder"></span>

    <div class="content">
        <h1 class="title">EDUCATION KIT</h1>

        <!-- Форма реєстрації -->
        <form method="POST" action="{% url 'register' %}" id="registrationForm">
            {% csrf_token %}
            <!-- Крок 1: Поля для вводу прізвища, імені, по батькові, вибір класу -->
            <div class="form-container-sign" id="step1">
                <input type="text" name="last_name" id="lastName" placeholder="Прізвище" class="input-field">
                <input type="text" name="first_name" id="firstName" placeholder="Ім'я" class="input-field">
                <input type="text" name="father_name" id="fatherName" placeholder="По батькові" class="input-field">

                <!-- Випадаючий список для вибору класу -->
                <select name="class_id" id="classSelect" class="input-field" title="Оберіть клас">
                    <option value="" disabled selected style="color: rgb(72, 72, 72);">Оберіть клас</option>
                    {% for class in classes %}
                        <option value="{{ class.id }}" style="color: rgb(72, 72, 72);">{{ class.name }}</option>
                    {% endfor %}
                </select>

                <!-- Кнопка для переходу до кроку 2 -->
                <a href="#" class="btn-submit" id="nextStepBtn">Далі</a>
            </div>

            <!-- Крок 2: Поля для вводу логіну та паролю -->
            <div class="form-container-sign" id="step2" style="display: none;">
                <!-- Іконка стрілки для повернення -->
                <a href="#" id="prevStepBtn" class="back-icon">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <input type="text" name="login" id="login" placeholder="Логін" class="input-field">
                <input type="password" name="password" id="password" placeholder="Пароль" class="input-field">
                <input type="password" name="confirm_password" id="repeatPassword" placeholder="Повторіть пароль" class="input-field">

                <!-- Кнопка для відправки форми -->
                <button type="submit" class="btn-submit" id="submitBtn">Зареєструватися</button>
            </div>
        </form>

        <!-- Спливаюче вікно -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <h2>Успішна реєстрація!</h2>
                <p>Очікуйте на прийняття заявки вчителем.</p>
            </div>
        </div>
    </div>

    <script src="{% static 'script.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script>
        // Перевірка заповнення полів для кроку 1
        document.getElementById('nextStepBtn').addEventListener('click', function (event) {
            const lastName = document.getElementById('lastName').value;
            const firstName = document.getElementById('firstName').value;
            const fatherName = document.getElementById('fatherName').value;
            const classSelect = document.getElementById('classSelect').value;

            if (!lastName || !firstName || !fatherName || !classSelect) {
                event.preventDefault(); // Заборонити перехід на наступний крок
                showAlert('Будь ласка, заповніть усі поля для Кроку 1.', 'liveAlertPlaceholder');
                return;
            } else {
                // Показати наступний крок
                document.getElementById('step1').style.display = 'none';
                document.getElementById('step2').style.display = 'block';
            }
        });

        // Перевірка полів для кроку 2
        document.getElementById('submitBtn').addEventListener('click', function (event) {
            const login = document.getElementById('login').value;
            const password = document.getElementById('password').value;
            const repeatPassword = document.getElementById('repeatPassword').value;

            if (!login || !password || !repeatPassword || password !== repeatPassword) {
                event.preventDefault(); // Заборонити відправку форми
                showAlert('Будь ласка, введіть всі поля для Кроку 2 і переконайтеся, що паролі збігаються.', 'liveAlertPlaceholder');
                return;
            }
            else {
                const popup = document.getElementById('popup');
                popup.style.display = 'flex';

                // Перенаправлення після 3 секунд
                setTimeout(() => {
                    window.location.href = 'index.html';
                }, 3000);
                }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const step1 = document.getElementById('step1');
            const step2 = document.getElementById('step2');
            const nextStepBtn = document.getElementById('nextStepBtn');
            const prevStepBtn = document.getElementById('prevStepBtn');

            prevStepBtn.addEventListener('click', function (e) {
                e.preventDefault();
                step1.style.display = 'block';
                step2.style.display = 'none';
            });
        });
    </script>
</body>
</html>
