<div class="requests-container">
    <div class="requests-heading">
        <h2>Список запитів</h2>
    </div>
    <div class="request-card">
        <div class="request-info">
            <span>Данилевич Олег Іванович </span>
            <span>10-А </span>
            <span>12:00</span>
        </div>
        <div class="request-actions">
            <span class="icon-check">&#10003;</span>
            <span class="icon-cross">&#10007;</span>
        </div>
    </div>
    <div class="request-card">
        <div class="request-info">
            <span>Данилевич Олег Іванович </span>
            <span>10-А </span>
            <span>12:00</span>
        </div>
        <div class="request-actions">
            <span class="icon-check">&#10003;</span>
            <span class="icon-cross">&#10007;</span>
        </div>
    </div>
    <div class="request-card">
        <div class="request-info">
            <span>Данилевич Олег Іванович </span>
            <span>10-А </span>
            <span>12:00</span>
        </div>
        <div class="request-actions">
            <span class="icon-check">&#10003;</span>
            <span class="icon-cross">&#10007;</span>
        </div>
    </div>
    <div class="no-requests-message">
        <p>Заявки відсутні</p>
    </div>
</div>
